<h1>
  {{title}}
</h1>

<!-- <add-user-form></add-user-form> -->
<!-- <nav>
  <ul>
    <li><a routerLink="/add-user">+ Add user</a></li>
  </ul>
</nav> -->
<button (click)="navigateToForm()">Add user</button>
<button (click)="logout()">Logout</button>

<a routerLink="/books">All books</a>
<a routerLink="/new-book">+ Add new book</a>
<router-outlet></router-outlet>

<ul>
  <li *ngFor="let user of users">
    <b>Name: </b>{{user.name}}, 
    <b>Age: </b>{{user.age}}, 
    <b>Role: </b>{{user.role}}, 
    <b>Gender: </b>{{user.gender}};
  </li>
</ul>